@model AsRealEstate2.Models.ListedProperty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListedProperty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyModeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyModeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyCompletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyCompletedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balcony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Backyard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Backyard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimingPool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimingPool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListedPropertyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
